#nextSteps {
    ul.tabs {
        margin: 0px 10px 0px 10px;
        padding: 0px;
        list-style:none;

        li {
            background: $secondary-color;
            color: $gray;
            display: inline-block;
            padding: 10px 15px;
            cursor: pointer;
            border-radius: 5px 5px 0px 0px;
        }

        li.current{
            background: #ededed;
            color: #222;
        }
    }

    .tab-content{
        border-top: 1px solid #ededed;
        display: none;
        padding: 15px;
    }

    .tab-content.current{
        display: inherit;
    }

    a.bigButton {
        width: 200px;
        text-align: center;
        text-decoration: none;
    }

    .halfPage {
        vertical-align: top;
        display: inline-block;
        margin: 0;
        width: 48%;
    }

    blockquote {
        width: 450px;
    }

    #tab-1 {

        .table {
            display:table;
            width: 100%;
        }

       .col1 {
           display: table-cell;
           vertical-align: middle;
           width: 50%;
       }

        .row {
            width: 100%;
        }

      .halfPage {
        margin-right: 15px;
      }

        //#accountability_top {
        //    margin-bottom: 15pt;
        //}
        //#accountability_bottom {
        //    margin-top: 15pt;
        //}

        hr {
            margin-top: 30pt;
            margin-bottom: 30pt;
        }
    }

    #tab-2 {
      #campaign-zero-widget {
        margin-top: 1em;
      }
    }


}
