/*
 * Reference slide
 */
#referenceSlide {

  #purpose_container {
    font-size: large;
    padding-right: 30px;
    padding-left: 10px;
    width: 50%;
    float: left;
  }

  #purpose_container p {
    margin-top: 0px;
  }

  .sectionRow {
    width: 100%;
  }

  .col1, .col2, .col_ref {
    display: table-cell;
  }

  .col1 {
    width: 60%;
  }

  .col2 {
    margin: 20px;
    width: 30%;
  }

  .col_ref {
    //width: 50%;
  }

  #video_container {
    display: flex;
  }

  #references_column, #tools_column {
    font-size: small;
  }

  #authors_column {
    font-size: medium;
  }

  #references_column,  #references_title {
    width: 55%;
  }

  #authors_column, #authors_title {
    width: 17%;
  }

  #tools_column, #tools_title {
    width: 28%;
  }

  #video_container {
    border-style: solid;
    border-width: 1px;
    border-color: $gray;
  }

  #ref_row_2 {
    margin-top: 10pt;
  }

  #ref_row_2 .sectionTitle {
    //margin-bottom: 0pt;
    padding-bottom: 0pt;
  }

  #references_column ol {
    padding-left: 11pt; // width of the list markers
  }

  #authors_column ul,
  #tools_column ul {
    list-style: none;
    padding-left: 0pt;
  }
}

