#narrative_section1, #narrative_section2, #narrative_section3 {

  vertical-align: center;
  width: 70%;
  margin: auto;

  p {
    font-size: 15pt;
  }

  .narrative_text {
    text-align: left;
    width: 50%;
  }

}
